{% extends "monitor/base.html" %}
{% load staticfiles %}


{% block css %}
<!-- Morris Charts CSS -->
<link href="{% static 'bootstrap/vendor/morrisjs/morris.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<h1></h1>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Cpu Percent Line Chart
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div id="cpuchart"></div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel-default -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock content %}


{% block script %}
<!-- Morris Charts JavaScript -->
<script src="{% static 'bootstrap/vendor/raphael/raphael.min.js' %}"></script>
<script src="{% static 'bootstrap/vendor/morrisjs/morris.min.js' %}"></script>
<script src="{% static 'bootstrap/data/morris-data.js' %}"></script>
<script type="text/javascript">
  var cpuValuesJson=JSON.parse("{{cpuValues|escapejs}}")

  // create empty dicts for charts
  var cpuValuesforCharts=[]

  // update dicts for charts
  for (var i = 0; i < cpuValuesJson.length; i++) {
    var date=cpuValuesJson[i].fields.date;
    var sliced=date.slice(-13,-8)

    cpuValuesforCharts.push({
      hour: sliced,
      cpuPercent: cpuValuesJson[i].fields.percent,
    });
  }
  // total is show 28
  new Morris.Line({
    // ID of the element in which to draw the chart.
    element: 'cpuchart',

    // Chart data records -- each entry in this array corresponds to a point on the chart.
    data: cpuValuesforCharts,
    // The name of the data record attribute that contains x-values.
    xkey: 'hour',
    // A list of names of data record attributes that contain y-values.
    ykeys: ['cpuPercent'],
    // Labels for the ykeys -- will be displayed when you hover over the chart.
    labels: ['Cpu Percent'],
    pointSize:2,
    hideHover:'auto',
    parseTime: false
  });
</script>
<!-- /.text/javascript -->

{% endblock script %}
