{% extends 'monitor/base.html' %}

{% block content %}
<h1></h1>
<div class="row">
	{% for server in servers %}
		{% if not server.deleted_at %}
			<div class="col-lg-3">
					<div class="panel panel-default">
							<div class="panel-heading" style="height:45px">
								<a href="{% url 'server_detail' pk=server.id %}">
									<strong>{{server.server_name|truncatechars:20}}</strong>
								</a>
								<!-- Trigger the modal with a button -->
								<button type="button" class="btn btn-danger btn-circle pull-right" data-toggle="modal" data-target="#delete{{ server.id }}"><i class="fa fa-times"></i>
								</button>
								<button type="button" class="btn btn-primary btn-circle pull-right" style="margin-right:5px;" data-toggle="modal" data-target="#update{{ server.id }}"><i class="fa fa-list"></i>
								</button>
							</div>
							<div class="panel-body" style="height:90px;">
								<p style="word-break: break-all;">
									{% if server.server_description %}
										{{server.server_description|truncatechars:80}}
									{% else %}
										<small>	No Desciription </small>
									{% endif %}
								</p>
							</div>
							<div class="panel-footer">
								<button type="button" class="btn btn-info btn-sm" onclick="location.href='{% url 'disk_chart' pk=server.id %}'">Disk</button>
								<button type="button" class="btn btn-info btn-sm" onclick="location.href='{% url 'ram_chart' pk=server.id %}'">Ram</button>
								<button type="button" class="btn btn-info btn-sm" onclick="location.href='{% url 'cpu_chart' pk=server.id %}'">Cpu</button>
								<button type="button" class="btn btn-info btn-sm" onclick="location.href='{% url 'chart' pk=server.id %}'">All Charts</button>
							</div>
					</div>
					<!-- ./panel-default -->
			</div>
			<!-- /.col-lg-3 -->
			<!-- Modals -->
			<div id="delete{{ server.id }}" class="modal fade" role="dialog">
			 <div class="modal-dialog">
			  <!-- Modal content-->
			  <div class="modal-content">
			   <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal">&times;</button>
			    <h4 class="modal-title">Delete {{server.server_name}}</h4>
			   </div>
			   <div class="modal-body">
			    <p>Are you sure delete {{server.server_name}} </p>
			   </div>
			   <div class="modal-footer">
			    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="location.href='{% url 'deleteServer' pk=server.id %}'">I'm Sure</button>
			    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			   </div>
			  </div>
			  <!-- ./modal-content -->
			 </div>
			 <!-- ./modal-dialog -->
			</div>
			<!-- ./fade -->

			<div id="update{{ server.id }}" class="modal fade" role="dialog">
			 <div class="modal-dialog">
			  <!-- Modal content-->
			  <div class="modal-content">
			   <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal">&times;</button>
			    <h4 class="modal-title">Update {{server.server_name}}</h4>
			   </div>
			   <div class="modal-body">
					 <form method="POST" class="post-form">{% csrf_token %}
					 <form role="form">
 						<fieldset>
 							<div class="form-group">
 								<input id="server_name" class="form-control" value="{{server.server_name}}" name="server_name" type="text" autofocus>
 							</div>
 							<div class="form-group">
								{% if server.server_description %}
									<textarea id="server_description" class="form-control" name="server_description" rows="8" cols="40" >{{server.server_description}}</textarea>
									{% else %}
									<textarea id="server_description" class="form-control" placeholder="Server Description" name="server_description" rows="8" cols="40"></textarea>
								{% endif %}
 						 </div>
						 <div class="form-group">
						 		<input id="server_id" class="form-control" type="hidden" name="server_id" value="{{server.id}}">
						 </div>
 							<!-- Change this to a button or input when using this as a form -->
			   </div>
				 <!-- ./modal-body -->
			   <div class="modal-footer">
					<button type="submit" class="btn btn-success">Save</button>
					</fieldset>
				</form>
				<!-- ./form -->
			</form>
			<!-- ./post-form -->
			    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			   </div>
				 <!-- ./modal-footer -->
			  </div>
			  <!-- ./modal-content -->
			 </div>
			 <!-- ./modal-dialog -->
			</div>
			<!-- ./fade -->
			{% endif %}
			<!-- end server.deleted_at is null -->
	{% endfor %}
	<!-- end server in servers -->
</div>
<!-- ./row -->
{% endblock content %}
