{% extends "monitor/base.html" %}


{% block content %}
<h1>Django monitoring web application</h1>
<p>
	server.py run on your server which want to get data.
	Run this commant in your server terminal:
	<pre>
		<code>pip3 install -r serverrequirements.txt</code>
	</pre>
</p>

<p>
	Please enter your username, password and server name for verify on server.py . If you see "Success" everything is OK.
</p>
<p>
	If not see success something went wrong please check your username or password or servername.
</p>

{% endblock content %}
