{% load googlecharts %}
{# container #}
<div id="out_ram"></div>
<div id="out_cpu"></div>
<div id="out_disk"></div>
{% googlecharts %}
	{# named data and options can be reused #}
	{% data ramValues "out_ram" %}
		{% col "string" "Name" %}"{{ val }}"{% endcol %}
		{% col "number" "Value" %}{{ val }}{% endcol %}
	{% enddata %}
	{% data cpuValues "out_cpu" %}
		{% col "string" "Name" %}"{{ val }}"{% endcol %}
		{% col "number" "Value" %}{{ val }}{% endcol %}
	{% enddata %}
	{% data diskValues "out_disk" %}
		{% col "string" "Name" %}"{{ val }}"{% endcol %}
		{% col "number" "Value" %}{{ val }}{% endcol %}
	{% enddata %}
	{# you can also use global javascript variables here, #}
	{# and call functions #}
	{% options "options_ram" %}
		kind: "PieChart",
		options: {
			width: 300,
			height: 240
		}
	{% endoptions %}
	{% options "options_cpu" %}
		kind: "PieChart",
		options: {
			width: 300,
			height: 240
		}
	{% endoptions %}
	{% options "options_disk" %}
		kind: "PieChart",
		options: {
			width: 300,
			height: 240
		}
	{% endoptions %}
	{# chart is assembled from container, data and options #}
	{% graph "out_ram" "out_ram" "options_ram" %}
	{% graph "out_cpu" "out_cpu" "options_cpu" %}
	{% graph "out_disk" "out_disk" "options_disk" %}
{% endgooglecharts %}
