{% load staticfiles %}
{% load i18n %}

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Django Monitoring</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/vendor/bootstrap/css/bootstrap4.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'bootstrap/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'bootstrap/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap/css/creative.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/stylish-portfolio.min.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"> Django {% trans 'Monitoring' %}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <form action="{% url 'set_language' %}" method="post">
                  {% csrf_token %}
                  <input name="next" type="hidden" value="{{ redirect_to }}" />
                  <select name="language">
                      {% get_current_language as SELECTEDLANG %}
                      {% get_available_languages as LANGUAGES %}
                      {% for lang in LANGUAGES %}
                          <option value="{{ lang.0 }}" {% if lang.0 == SELECTEDLANG %}selected{% endif %}>{% if lang.1 == 'English' %}English{% else %}{{ lang.1 }}{% endif %}

                          </option>
                      {% endfor %}
                  </select>
                  <input type="submit" value="Go" />
              </form>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">{% trans 'About' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">{% trans 'Services' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">{% trans 'Portfolio' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">{% trans 'Contact' %}</a>
            </li>
            <li class="nav-item dropdown" style="margin-top:5px;">
                <a class="nav-link" data-toggle="dropdown" href="#" style="text-decoration:none;">
                    <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                  {% if user.is_authenticated %}
                      <li><a href="/dashboard" style="color:#495057;"><i class="fa fa-dashboard fa-fw"></i>{% trans 'Dashboard' %}</a>
                      </li>
                      <li><a href="/detail" style="color:#495057;"><i class="fa fa-th-list fa-fw"></i> {% trans 'Server List' %}</a>
                      </li>
                      <li class="divider"></li>
                      <li><a href="/logout" style="color:#495057;"><i class="fa fa-sign-out fa-fw"></i> {% trans 'Logout' %}</a>
                      </li>
                  {% else %}
                      <li><a href="/login" style="color:#495057;"><i class="fa fa-sign-in fa-fw"></i> {% trans 'Sign in' %}</a>
                      </li>
                      <li><a href="/signup" style="color:#495057;"><i class="fa fa-arrow-circle-up fa-fw"></i> {% trans 'Sign up' %}</a>
                      </li>
                  {% endif %}
              </ul>
              <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
          </ul>
          <!-- /.ml-auto -->
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
    <!-- /.fixed-top -->

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>{% trans 'Your Favorite Monitoring Website' %}</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">{% trans 'Monitoring is our job!' %}</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">{% trans 'Learn More' %}</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about" >
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">{% trans 'We have got what you need!' %}</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">
              {% blocktrans %}
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              {% endblocktrans %}
            </p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">{% trans 'Get Started!' %}</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">{% trans 'At Your Service' %}</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">{% trans 'Sturdy Templates' }</h3>
              <p class="text-muted mb-0">{% blocktrans %} Lorem ipsum dolor sit amet, consectetur adipisicing elit. {% endblocktrans %}</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">{% trans 'Ready to Use' %}</h3>
              <p class="text-muted mb-0">{% trans 'Just click next next next and install' %} <i class="fa fa-smile-o"></i></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">{% trans 'Up to Date' %}</h3>
              <p class="text-muted mb-0">{% blocktrans %} Server informations update per minute. {% endblocktrans %}</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">{% trans 'Made with Love' %}</h3>
              <p class="text-muted mb-0">{% blocktrans %} Lorem ipsum dolor sit amet, consectetur adipisicing elit. {% endblocktrans %}</p>
            </div>
          </div>
        </div>
        <!-- ./row -->
      </div>
      <!-- ./container -->
    </section>
    <!-- /.id=servides -->

    <section class="p-0" id="portfolio" style="margin-bottom:15px;">
      <div class="container">
        <div class="content-section-heading text-center">
          <h3 class="text-secondary mb-0">{% trans 'Portfolio' %}</h3>
          <h2 class="mb-5">{% trans 'Example Pages' %}</h2>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6">
            <a class="portfolio-item" href="/examplechart">
              <span class="caption">
                <span class="caption-content">
                  <h2>{% trans 'Charts' %}</h2>
                  <p class="mb-0">{% blocktrans %} Multiple charts for your servers. This charts are donut, line and bar chart.  {% endblocktrans %}</p>
                </span>
              </span>
              <img class="img-fluid" src="{% static 'bootstrap/img/portfolio/fullsize/charts.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="/exampleserver">
              <span class="caption">
                <span class="caption-content">
                  <h2>{% trans 'New Server' %}</h2>
                  <p class="mb-0">{% blocktrans %} Opening a new server has never been easier. {% endblocktrans %}</p>
                </span>
              </span>
              <img class="img-fluid" src="{% static 'bootstrap/img/portfolio/fullsize/createserver.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="/exampledetail">
              <span class="caption">
                <span class="caption-content">
                  <h2>{% trans 'Show All Servers' %}</h2>
                  <p class="mb-0">{% blocktrans %} Show all servers in one page and update or delete it easier. {% endblocktrans %}</p>
                </span>
              </span>
              <img class="img-fluid" src="{% static 'bootstrap/img/portfolio/fullsize/detail.jpg' %}" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="portfolio-item" href="/exampleserverdetail">
              <span class="caption">
                <span class="caption-content">
                  <h2>{% trans 'Server Detail' %}</h2>
                  <p class="mb-0">{% blocktrans %} More than information for your server and update and delete it easier. {% endblocktrans %}</p>
                </span>
              </span>
              <img class="img-fluid" src="{% static 'bootstrap/img/portfolio/fullsize/serverdetail.jpg' %}" alt="">
            </a>
          </div>
        </div>
        <!-- /.no-gutters -->
      </div>
      <!-- ./container -->
    </section>
    <!-- ./p-0 -->

    <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4">{% trans 'Free Use at Django Monitoring!' %}</h2>
        <a class="btn btn-light btn-xl sr-button" href="/howtosetup">{% trans 'How to Setup!' %}</a>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2>{% trans 'We' %} <i class="fa fa-heart" style="color:red;"></i> {% trans 'new friends!' %}</h2>
              <hr class="my-4">
            <p class="mb-5">
              {% blocktrans %}
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              {% endblocktrans %}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>123-456-6789</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:slbandidas@gmail.com">feedback@monitoring.com</a>
            </p>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </section>
    <!-- /.contact -->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'bootstrap/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'bootstrap/js/creative.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/stylish-portfolio.min.js' %}"></script>

  </body>

</html>
