{% extends "monitor/base.html" %}
{% load staticfiles %}


{% block css %}
<!-- Morris Charts CSS -->
<link href="{% static 'bootstrap/vendor/morrisjs/morris.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<h1></h1>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Ram Used-Free Bar Chart
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div id="ramBarChart"></div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel-default -->
  </div>
  <!-- /.col-lg-12 -->
  <div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Ram Used-Free Donut Chart
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div id="ramDonutChart"></div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel-default -->
  </div>
  <!-- /.col-lg-12 -->

  <div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Ram Percent Line Chart
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div id="ramLineChart"></div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel-default -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock content %}


{% block script %}
<!-- Morris Charts JavaScript -->
<script src="{% static 'bootstrap/vendor/raphael/raphael.min.js' %}"></script>
<script src="{% static 'bootstrap/vendor/morrisjs/morris.min.js' %}"></script>
<script src="{% static 'bootstrap/data/morris-data.js' %}"></script>
<script type="text/javascript">
  var ramValuesJson=JSON.parse("{{ramValues|escapejs}}")

  // create empty dicts for charts
  var ramValuesforLineChart=[]
  var ramValuesforDonutChart=[]
  var ramValuesforBarChart=[]

  // update dicts for charts
  for (var i = 0; i < ramValuesJson.length; i++) {
    var date=ramValuesJson[i].fields.date;
    var sliced=date.slice(-13,-8)

    ramValuesforLineChart.push({
      hour: sliced,
      ramPercent: ramValuesJson[i].fields.percent,
    });
    ramValuesforBarChart.push({
      hour: sliced,
      ramUsed: ramValuesJson[i].fields.used,
      ramFree: ramValuesJson[i].fields.free
    });
  }

  ramValuesforDonutChart.push(
    {
      label: "Used",
      value: ramValuesJson[ramValuesJson.length-1].fields.used,
    },
    {
      label: "Free",
      value: ramValuesJson[ramValuesJson.length-1].fields.free,
    });


  // total is show 28
  new Morris.Line({
    // ID of the element in which to draw the chart.
    element: 'ramLineChart',

    // Chart data records -- each entry in this array corresponds to a point on the chart.
    data: ramValuesforLineChart,
    // The name of the data record attribute that contains x-values.
    xkey: 'hour',
    // A list of names of data record attributes that contain y-values.
    ykeys: ['ramPercent'],
    // Labels for the ykeys -- will be displayed when you hover over the chart.
    labels: ['Ram Percent'],
    pointSize:2,
    hideHover:'auto',
    parseTime: false
  });

  new Morris.Donut({
    element: 'ramDonutChart',

    data:ramValuesforDonutChart,

    resize:true
  });

  new Morris.Bar({
    element: 'ramBarChart',

    data: ramValuesforBarChart,

    xkey: 'hour',
    ykeys: ['ramUsed', 'ramFree'],
    labels: ['Used', 'Free'],
    hideHover: 'auto',
    resize: true
  });
</script>
<!-- /.text/javascript -->

{% endblock script %}
