{% load googlecharts %}
{# container #}
{# container #}
<a href="/">Anasayfa</a>

{% if user.is_authenticated %}
	<a href="/logout">çıkış</a>
	<a href="/server">server</a>
	<a href="/detail">server detail</a>
	<a href="/howtosetup">how to setup</a>

{% else %}
	<a href="/login">Giriş</a>
	<a href="/signup">kayıt</a>
{% endif %}


<!-- Body -->
{% if user.is_authenticated %}
<h1>Ram</h1>
<div id="out_ram"></div>
<h1>Cpu</h1>
<div id="out_cpu"></div>
<h1>Disk</h1>
<div id="out_disk"></div>
{% googlecharts %}
	{# named data and options can be reused #}
	{% data ramValues "out_ram" %}
		{% col "string" "Name" %}"{{ val }}"{% endcol %}
		{% col "number" "Ram Percent" %}{{ val }}{% endcol %}
	{% enddata %}

	{% data cpuValues "out_cpu" %}
		{% col "string" "Name" %}"{{ val }}"{% endcol %}
		{% col "number" "Cpu Percent" %}{{ val }}{% endcol %}
	{% enddata %}
	{% data diskValues "out_disk" %}
		{% col "string" "Name" %}"{{ val }}"{% endcol %}
		{% col "number" "Disk Percent" %}{{ val }}{% endcol %}
	{% enddata %}
	{# you can also use global javascript variables here, #}
	{# and call functions #}
	{% options "options_ram" %}
		kind: "LineChart",
		options: {
			width: 500,
			height: 240
		}
	{% endoptions %}
	{% options "options_cpu" %}
		kind: "LineChart",
		options: {
			width: 500,
			height: 240
		}
	{% endoptions %}
	{% options "options_disk" %}
		kind: "LineChart",
		options: {
			width: 500,
			height: 240
		}
	{% endoptions %}
	{# chart is assembled from container, data and options #}
	{% graph "out_ram" "out_ram" "options_ram" %}
	{% graph "out_cpu" "out_cpu" "options_cpu" %}
	{% graph "out_disk" "out_disk" "options_disk" %}
{% endgooglecharts %}
{% else %}
	<h3>	Lütfen <a href="/login">Giriş</a> Yapın.Eğer üye değilseniz üye olmak için <a href="/signup">tıklayınız.</a></h3>
{% endif %}
