{% load staticfiles %}
{% load i18n %}

<link href="{% static 'bootstrap/vendor/footer/css/footer.css' %}" rel="stylesheet">
<!--
<footer>
  <div class="footer navbar-fixed-bottom">
    <section class="index-link">
      <div class="footer">
        <h1>footer</h1>
      </div>
    </section>
  </div>
</footer> -->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<footer>
    <div class="footer-top ">
       <div class="container">
         <div class="col-lg-3 col-xs-12 text-center">
             <a href="https://www.facebook.com/caglanur.saglam" target="_blank"><i class="fa fa-facebook fa-2x"></i>Facebook</a>
         </div>
          <div class="col-lg-3 col-xs-12 text-center">
             <a href="https://twitter.com/CaglanurSaglam" target="_blank"><i class="fa fa-twitter fa-2x"></i>Twitter</a>
         </div>
          <div class="col-lg-3 col-xs-12 text-center">
             <a href="https://www.linkedin.com/in/csaglam/" target="_blank"><i class="fa fa-linkedin fa-2x"></i>Linkedin</a>
         </div>
          <div class="col-lg-3 col-xs-12 text-center">
             <a href="https://github.com/Comnurz" target="_blank"><i class="fa fa-github fa-2x"></i>Github</a>
         </div>
          <!-- <div class="col-lg-2 col-xs-12 text-center">
             <a href="#"><i class="fa fa-google-plus fa-2x"></i>Google</a>
         </div> -->
       </div>
    </div>

    <div class="container" style="border-top:1px solid grey;">
        <div class="row text-center">
            <div class="col-lg-6 col-lg-offset-3">
                  <ul class="menu">

                         <li>
                            <a href="/">{% trans 'Home' %}</a>
                          </li>

                          <li>
                             <a href="/exampledetail">{% trans 'Server List' %}</a>
                          </li>

                          <li>
                            <a href="/exampleserverdetail">{% trans 'Create Server' %}</a>
                          </li>

                          <li>
                             <a href="/examplehowtosetup">{% trans 'How to Setup' %}</a>
                          </li>

                    </ul>
            </div>
        </div>
    </div>

</footer>


<div class="copyright">
 <div class="container">

     <div class="row text-center">
     	<p>{% trans 'Powered by Love' %} <a href="https://github.com/Comnurz/Django-Monitoring" target="_blank"><i class="fa fa-heart" style="color:red;"></i></a></p>
     </div>

   </div>
</div>
