{% extends "example/base.html" %}
{% load i18n %}
{% block content %}
	<h1></h1>
	<form method="POST" class="post-form">{% csrf_token %}
		<div class="col-lg-4 col-lg-offset-4">
		<div class="panel panel-default">
	    <div class="panel-heading">
	        {% trans 'Create Server' %}
	    </div>
			<!-- /div class panel-heading -->

			<!-- Forms here. -->
			<div class="panel-body">
						<fieldset>
							<div class="form-group">
								<input class="form-control" placeholder="Server Name" name="server_name" type="text" autofocus>
							</div>
							<div class="form-group">
							 <textarea class="form-control" placeholder="Server Description" name="server_description" rows="8" cols="40"></textarea>
						 </div>
							<!-- Change this to a button or input when using this as a form -->
							<button type="submit" class="btn btn-lg btn-success btn-block">{% trans 'Save' %}</button>
						</fieldset>
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel-default -->
		</div>
		<!-- /.col-lg-offset-4 -->
	</form>
{% endblock content %}
