{% extends "monitor/base.html" %}
{% load i18n %}
{% block content %}
	<h2></h2>
<form method="post">
	 {% csrf_token %}
	<div class="col-lg-4 col-lg-offset-4">
	 <div class="panel panel-default">
		 <div class="panel-heading">
				 {% trans 'Sign Up' %}
		 </div>
		 <!-- /.panel-default -->

		 <!--Forms here.  -->
		 <div class="panel-body">
				 <form role="form">
					 <fieldset>
						 <div class="form-group">
							 <input id="username" class="form-control" placeholder="Username" name="username" type="text" autofocus>
						 </div>
						 <div class="form-group">
							 <input id="first_name" class="form-control" placeholder="First Name" name="first_name" type="text" autofocus>
						 </div>
						 <div class="form-group">
							 <input id="last_name" class="form-control" placeholder="Last Name" name="last_name" type="text" autofocus>
						 </div>
						 <div class="form-group">
							 <input id="email" class="form-control" placeholder="Email" name="email" type="email" autofocus>
						 </div>
						 <div class="form-group">
							 <input id="password1" class="form-control" placeholder="Password" name="password1" type="password" autofocus>
						 </div>
						 <div class="form-group">
							 <input id="password2" class="form-control" placeholder="Password" name="password2" type="password" autofocus>
						 </div>
						 <!-- Change this to a button or input when using this as a form -->
						 <button type="submit" class="btn btn-lg btn-success btn-block">{% trans 'Sign Up' %}</button>
					 </fieldset>
				 </form>
			 </div>
			 <!-- /.panel-body -->
		 </div>
		 <!-- /.panel-default -->
	 </div>
	 <!-- /.col-lg-offset-4 -->
</form>
{% endblock content %}
